.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 230px;
    background-image: url('../../Assets/Backgrounds/headerBackground.svg');
    background-position: -55px -10px;
    h1{
        font-size: 43px;
        color: white;
        margin-top: 73px;
        margin-left: 35px;
    }
    input{
        width: 352px;
        height: 54px;
        margin: 0 auto;
        border-radius: 30px;
        background-color: #F0F4FF;
        background-image: url('../../Assets/Backgrounds/Search.svg');
        background-repeat: no-repeat;
        background-position: 25px;
        border: none;
        padding-left: 60px;
        &:focus{
            outline: none;
            border: 2px solid grey;
        }
        &:hover{
            outline: none;
            border: 2px solid grey;
        }
        &::-webkit-search-cancel-button{
            position:relative;
            right:20px;    
        }
    }
}

.chatlist{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    background-color:white;
}

.navigation{
    width: 100%;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #dfdfe6a4;
}